* {
	color: white;
	font-family: 'Berkshire Swash', cursive;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;

}

.container {
	padding: 100px;
	background-image: url("../images/space.png");
	background-color: darkblue;
	margin: 100px;
}

